body{
	background-color: #f7d940;
}

header, section, footer{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
    margin-bottom: 10px;
}

header{
	height: 100px;
	background-color: #88b38a;
}

h1{
	font-size: 44px;
	text-align: center;
	color: #2d6924;
}

h1:hover{
   transform: scale(1.4);
}

#menu{
	width: 500px;
	height: 100px;
	float: right;
}
#menu{
	padding: 0;
	margin-top: 20px;
	margin-right: 20px;
}
#menu li{
	display: inline;

}
#menu li a{
	text-decoration: none;
	color: #fcfdff;
	font-size: 18px;
	padding: 25px 10px;
}
#menu li a:hover{
	background-color: #f7d940;
	color: #000000;
}
#propiedades{
	text-align: center;
	color: #235e1d;
	margin-top: 20px;
}

#info{
	font-size: 22px;
	color: #235e1d;
	text-align: left;
	margin-top: 50px;
	margin-bottom: 80px;
}

#foto-info{
	margin-top: 100px;
	display: block;
	margin: auto;
	margin-bottom: 80px;
}

#caja{
    width: 100%;
    height: 900px;
    display: flex;
	flex-wrap: wrap;
}

#imagen1{
	margin-top: 60px;
}

#textarea-img{
	opacity: 0;
	width: 20px;
	height: 10px;
	position: relative;
	top: 50%;
    transform: scaleY(30);
    cursor: e-resize;
}

#imagen1{
	width: 500px;
	height: 332px;
	background-image: url(imagenes/foto5.jpg);
	margin-left: 70px;
	position: relative;
	float: left;
}

#sub-img1:before{
	content: "\2194";
	color: white;
	font-size: 32px;
	background: rgba(0,0,0,0.7);
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 332px;
}

#sub-img1{
	background-image: url(imagenes/foto6.jpg);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	max-width: 100%;
	resize: horizontal;
	overflow: hidden;
}


#imagen2{
	margin-top: 60px;
	margin-right: 60px;
}

#imagen2{
	width: 500px;
	height: 332px;
	background-image: url(imagenes/foto8.jpg);
	margin-right: 70px;
	position: relative;
	float: right;
	margin-left: 130px;
}

#sub-img2:before{
	content: "\2194";
	color: white;
	font-size: 32px;
	background: rgba(0,0,0,0.7);
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 332px;
}

#sub-img2{
	background-image: url(imagenes/foto4.jpg);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	max-width: 100%;
	resize: horizontal;
	overflow: hidden;
}


#imagen3{
	margin-top: 60px;
}

#imagen3{
	width: 500px;
	height: 332px;
	background-image: url(imagenes/foto7.jpg);
	margin-left: 400px;
	position: relative;
	clear: both;
	margin: auto;
}

#sub-img3:before{
	content: "\2194";
	color: white;
	font-size: 32px;
	background: rgba(0,0,0,0.7);
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 332px;
}

#sub-img3{
	background-image: url(imagenes/foto9.jpg);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	max-width: 100%;
	resize: horizontal;
	overflow: hidden;
}

form{
	width: 700px;
	padding: 16px;
	border-radius: 15px;
	margin: auto;
	margin-top: 30px;
}

#formulario-central{
	width: 600px;
	margin: auto;
	background-color: rgba(61, 145, 52, 0.4);
	border-radius: 18px;
	margin-top: 80px;
	margin-bottom: 50px;
}


form ul{
	width: 80px;
	font-weight: bold;
	display: inline-block;
}
form li{
	display: inline;
}

form input[type="text"],form input[type="email"], form input[type="Telefono"]{
	width: 250px;
	padding: 3px 10px;
	border: 1px solid #f6f6f6;
	border-radius: 3px;
	margin: 8px 0;
	display: inline-block;
}
textarea{
	width: 400px;
	padding: 3px;
	border: 1px;
	border-radius: 3px;
	margin-top: 10px;
}
input #boton{
	width: 100%;
	padding: 8px;
	margin-top: 32px;
	border: 1px;
	border-radius: 5px;
	display: block;
	color: white;
	background-color: #235e1d;
}

iframe{
	margin-left: 400px;
}

#parrafo1{
	font-size: 26px;
	color: white;
	text-align: center;
}
#formulario-central h2{
	text-align: center;
	font-size: 26px;
	margin-top: 60px;
	color: #235e1d;
}

#presentacion{
	width: 100%;
	height: 100px;
	background-color: #88b38a;
	clear: both;
	color: #fffcfc;
	margin-top: 20px; 
	margin-bottom: 30px;
}

#presentacion p{
	font-size: 22px;
	color:#235e1d;
	text-align: center;
}

#empresa1 h3{
     text-align: center;
     font-size: 28px;
     color: #2d6924;
}

#empresa1 p{
	font-size: 22px;
	color: #235e1d;
	text-align: center;
}

h2{
	font-size: 36px;
	text-align: center;
	color: #2d6924;
}

#paso1{
	height: 500px;
	height: 600px;
	float: left;
	margin-left: 50px;

}
#produccion p{
	font-size: 22px;
	color: #2d6924;
	text-align: center;
}

#paso2{
	height: 500px;
	height: 600px;
	float: right;
	margin-right: 50px;
}

#paso3{
	height: 500px;
	height: 600px;
	float: left;
	margin-left: 50px;
	margin-top: 80px;
}

#paso4{
	height: 500px;
	height: 600px;
	float: right;
	margin-right: 50px;
	margin-top: 80px;
}

video{
	margin-left: 300px;
	clear: both;
	margin-top: 70px;
}


footer{
	height: 150px;
	background-color: #2b2e36;
	margin-top: 50px;
}

#redes-sociales{
	width: 300px;
	height: 150px;
	margin-left: 40px;
	margin-top: 30px;
	float: left;
}


#datos-empresa h3{
     font-size: 24px;
     text-align: center;
     color: white;
     margin-right: 300px;
     margin-top: 10px;
}

#datos{
	width: 500px;
	height: 100px;
	float: right;
	color: white;
}

#datos p a{
	text-decoration: none;
	color: white;
	font-size: 18px;
}

#derechos p{
	color: #fffcfc;
	position: absolute;
	left: 440px;
	margin-top: 80px;
}
